{
  "extends": "rackt",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "indent": 1,
    "strict": [1, "global"],
    "no-console": 1,
    "no-unused-vars": 1,
    "comma-dangle": [1, "always-multiline"],
    "no-multiple-empty-lines": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/wrap-multilines": 2
  },
  "plugins": [
    "react"
  ]
}