// reset
ul {
  margin: 0;
  padding: 0;
}

// 滚动条
// http://blog.fritx.me/?weekly/151120
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  // background-color: none;
  background-color: rgba(0, 0, 0, 0.02);
}
::-webkit-scrollbar-thumb{ /* 1 */
  border-radius: 10px!important;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 3px;
}
// :hover::-webkit-scrollbar-thumb { /* 2 */
//   background-color: rgba(178, 176, 176, 0.9);
// }
::-webkit-scrollbar-thumb:hover { /* 3 */
  background-color: rgba(0, 0, 0, 0.4);
}
// ::-webkit-scrollbar-thumb:active { /* 4 */
//   background-color: rgba(178, 176, 176, 0.9);
// }


// 可选/不可选区域
html {
  -webkit-user-select: none;
}
.selectable {
  -webkit-user-select: auto;
}

// 文本截断
.text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 禁用mac上滑动回弹效果
html {
  overflow: hidden;
}


h1 {
  font-size: 5em;
}

// 基本网格布局
.home-page {
  background-color: rgba(0, 0, 255, .1);
  height: 100%;
  display: flex;
}
.home-side {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.home-main {
  flex: 1;
  display: flex;
}
.user-status {
  background-color: rgba(0, 255, 0, .1);
  height: 120px;
}
.contact-nav {
  background-color: rgba(255, 0, 0, .1);
  flex: 1;
}
.home-blank {
  background-color: rgba(255, 255, 0, .1);
  flex: 1;
}
.home-chat {
  background-color: rgba(255, 0, 255, .1);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chat-top {
  background-color: rgba(0, 255, 255, .1);
  height: 80px;
}
.chat-content {
  background-color: rgba(255, 255, 255, .1);
  flex: 1;
  display: flex;
}
.chat-side {
  background-color: rgba(0, 0, 0, .1);
  width: 160px;
}
.chat-main {
  background-color: rgba(255, 255, 255, .1);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chat-editor {
  background-color: rgba(0, 127, 0, .1);
  height: 120px;
}
.chat-msgs {
  background-color: rgba(127, 0, 0, .1);
  flex: 1;
}

// 编辑器
.chat-editor {
  padding: .2em;
  overflow-y: auto;
}
.editor {
  height: 100%;
  white-space: pre-wrap;
  img {
    max-width: 10em;
    vertical-align: bottom;
  }
}

// 头像
.avatar {
  position: relative;
  width: 100%;
  height: 100%;
  &-one {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: gray;
  }
  &-mixed {
    display: flex;
    flex-wrap: wrap;
    .avatar-one {
      width: 50%;
      height: 50%;
    }
  }
}

// 联系人
.contact-nav {
  overflow-y: auto;
}
.conver-li {
  display: flex;
  height: 2em;
  &-icon {
    width: 2em;
    height: 2em;
    padding: .25em;
    box-sizing: border-box;
  }
  &-desc {
    @extend .text-cut;
    flex: 1;
    line-height: 2em;
  }
}

// 操作按钮
.chat-top {
  position: relative;
}
.op-btn-group {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
.op-btn {
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  background-color: silver;
}
.op-menu {
  position: absolute;
  li {
    padding: 0 10px;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background: white;
    &:hover {
      background: #eee;
    }
  }
}
.op-btn-group {
  >li:last-child {
    .op-menu {
      right: 0;
    }
  }
}

// 消息列表
.chat-msgs {
  overflow-y: auto;
}
.msg {
  @extend .selectable;
}
.mixedMsg li {
  display: inline;
}

